<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cultivo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cultivo">
        <activity android:name=".uploadProduct"></activity>
        <activity android:name=".DetailActivity" />
        <activity android:name=".Product" />
        <activity android:name=".Category" />
        <activity android:name=".Bids" />
        <activity android:name=".Account" />
        <activity android:name=".Schemes" />
        <activity android:name=".userDashboard" />
        <activity android:name=".AdminDashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignIn" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>